body, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('manager.gif');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    background-color: black; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the h1 element */
h1 {
    background: white;
    background-clip: text;
    color: black; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8; 
}

